nav li{
	display: inline-block;
	padding: 0.5em 0;
	margin: 10px 40px;
	padding: 3px;}

nav ul{
	text-align: center;
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 0px;
}	

h1 {
	text-align: center;
}

@media (max-width: 667px){
	nav li{
		display: block;
		border-right: none;
		border-bottom: solid 1px #000;
		padding: 0.5em 0;
		margin-right: 0;
	}
}

h1 { 
	background-color: #F2AB64;
	padding: 15px;
	margin: 0px;}

ul {
    background-color: #F2AB64;
    color: white;
}	

* {
	background-color: #F2AB64;
}

